### Java & Maven ###
target/
*.class
*.jar
*.war

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/
*.iml
out/
gen/

### Logs & Temp ###
*.log
logs/
temp/

### OS Files ###
.DS_Store
Thumbs.db
 docker-compose.yml

 uploads/